* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    margin: 0;
    
}

.container {
    width: 100%;
    max-width: 1920px;
    padding: 0 25px;
    margin: 0 auto;
}

button {
    font-family: inherit;
}

h1, h2, h3, p, ol {
    margin-top: 0;
}

img {
    max-width: 100%;
}

body {
    background-color: #F3EEE8;
    scroll-behavior: smooth;
}

.title{
    font-family: 'Merriweather', sans-serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 40px;
    color: #534B42;
    margin: 0;
    padding-bottom: 20px;
}

/* header */

header {
    position: absolute;
    width: 100%;
    z-index: 1;
}


.header__menu {
    opacity: 0;
    visibility: hidden;
    /* transition: all .5s; */
    /* display: none; */
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    padding: 35px 20px;
    background: #706458;
    position: fixed;
    top: 0;
    z-index: 1;
    right: 0px;
    width: 50%;
    height: 50%;
  }
  
  .header__menu.--open {
    opacity: 1;
    visibility: visible;
  }

  .menu_main_item {
    line-height: 25px;
    text-decoration: none;
    color: #f3eee8;
    /* border-bottom: 1px #fff; */
    /* display: block; */
    font-family: 'Merriweather', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
}

.menu_button {
    background-image: url(./img/contact_button.svg);
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    /* margin-left: 450px; */
    background-repeat: no-repeat;
}

.hamburger {
    display: block;
    background-image: url(./img/hamburger_button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 12px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-position: center;
    opacity: 0.66;
    z-index: 2;
    /* position: sticky; */
}


.header__logo{
    background-image: url(./img/logo_min.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 114px;
    height: 45px;
}


.header__flex {
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    /* position: relative; */
}


/* hero */

.hero {
    background-image:url(./img/Hero_Background.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 154px 0 0 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    margin-bottom: 48px;
    position: relative;
}

.hero__label {
    font-family: 'Varta', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding-bottom: 24px;
    color: #ffffff;
}

.hero__title {
    font-family: 'Merriweather', sans-serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 0;
    padding: 0 0 24px;
}

.hero__par {
    font-family: 'Varta', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #ffffff;
    margin-bottom: 0;
    padding: 0 0 24px;
}


.hero__button {
    background-image: url(./img/hero_scroll_min.svg);
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 177px;
}

.hero__left {
    text-align: center;
}

.hero__right {
    background-image:url(./img/Hero_Background.png);
}


/* rooms */


.rooms__slide_group {
    /* max-width: 460px;
    width: 100%; */
    /* min-height: 232px; */
    /* max-width: 400px; */
    /* width: 100%; */
}

.rooms__slide_img{
    background-repeat: no-repeat;
    background-size: 50% auto;
    min-height: 232px;
    width: 100%;
}

.bedroom_group{
    background-image:url(./img/rooms_badroom.png);
}

.living_group{
    background-image:url(./img/rooms_living.png);
}

.kittens_group{
    background-image:url(./img/kittens_group.png);
}

.rooms__slide {
    width: 100%;
    max-width: 311px;
}

.rooms__slide_label{
    font-family: 'Varta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.45);
    text-align: right;

    
}

.rooms__slide_title{
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 40px;
    color: #A06056;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 35%;
}

.rooms_par{
    font-family: 'Varta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(112, 100, 88, 0.9);

    padding-bottom: 33px;
}

.rooms__slide {
    position: relative;
}

.rooms__control {
    font-family: 'Varta', sans-serif;
    font-weight: bold;
    color: #A06056;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    border: none;
    background-color: transparent;
}


section.rooms {
    margin-bottom: 80px;
    /* scroll-behavior: smooth; */
}



.slide_count {/* width: 165px; *//* height: 25px; */font-family: 'Varta', sans-serif;font-style: normal;font-weight: 400;font-size: 18px;line-height: 25px;color: rgba(112, 100, 88, 0.9);opacity: 0.5;order: 2;}

.rooms__slidercontrols {display: flex;/* margin-left: 228px; */justify-content: space-between;}

button.rooms__control.--prev {
    display: none;
}

.rooms__controls {
    order: 1;
}
/* design */

.design__link {
    font-family: 'Varta', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
    color: #A06056;
    /* margin-bottom: 61px; */
    text-decoration: none;
}

.info_title{
    font-family: 'Varta', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    color: #A06056;
    /* margin-bottom: 40px; */
    margin-bottom: 5px;
}

.design__par{
    font-family: 'Varta', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color:rgba(112, 100, 88, 0.9);
    margin-bottom: 40px;
}

.design__header {
    margin-bottom: 41px;
}


/* subscribe */

.subscribe {
    background-color: white;
    /* padding-bottom: 64px; */
}

.subscribe__title {
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 40px;
    color: #121212;
    padding: 48px 0 16px;
    margin: 0;
}

.subscribe__par{
    font-family: 'Varta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(112, 100, 88, 0.9);
    margin-bottom: 16px;
}

.subscribe__link {
    font-family: 'Varta', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
    color: #A06056;
    text-decoration: none;
    /* padding-bottom: 0; */
}

.subscribe__form input{
    background-color: rgba(243, 238, 232, 0.3);
    width: 311px;
    height: 49px;
    border: none;
    padding: 12px 15px;
    border-radius: 1px;
    font-family: 'Varta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.45);
}

.placeholder{
    font-family: 'Varta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.45);
}

.subscribe__button{
    background-color: #534B42;
    border-radius: 1px;
    width: 290px;
    height: 50px;
    padding: 12px 30px;
    border: none;
    font-family: 'Varta', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
    color: #ffffff;
    cursor: pointer;
}

.subscribe__form {
    padding: 32px 0 16px;
}

.subscribe__input {
    padding-bottom: 64px;
}



/* Inspirations */

.inspirations {
    background-color: #ffffff;
    padding-bottom: 48px;
}

.inspirations__title{
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    color: #534B42;
    margin-bottom: 20px;
}

.inspirations__par{
    font-family: 'Varta', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(112, 100, 88, 0.9);
    padding-bottom: 40px;
    margin: 0;
    max-width: 481px;
}



.inspirations__slider_img{
    margin-bottom: 15px;

}


.inspirations__slider_lable{
    font-family: 'Varta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #121212;
}

.inspirations__slider_group {
    padding-bottom: 20px;
}

.inspirations__imges {
    min-width: 145px;
    height: 175px;
}



.slider_groups_flex {
    display: flex;
    flex-wrap: wrap;
    /* gap: -3px; */
    justify-content: space-between;
    gap: 5px;
    /* align-items: center; */
}

.inspirations__controls{
    text-align: right;
    margin-right: 100px;
    order: 1;
    display: none;
}


/* footer_menu */

.footer__title{
    font-family: 'Varta', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #121212;
    padding-bottom: 10px;
}

.respect_par{
    color: rgba(0, 0, 0, 0.45);
    max-width: 470px;
    margin: 0;
    padding: 16px 0;
}

.footer__logo {
    margin-bottom: 40px;
    background-image:url(./img/footer_logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    
    height: 25px;
    background-position: center;
    
}

.footer__col {
    margin-bottom: 30px;
}

.footer__menu {
    padding-top: 48px;
    margin-bottom: 40px;
}

.list_el {
    text-decoration: none;
    font-family: 'Varta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #706458;
}

.col_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title_respect{
    display: none;
}

.footer__col_flex {
    display: none;
}

.footer__logo {
    display: none;
}


/* footer__copyright */

.copyright_facebook {
    background-image:url(./img/copyright_imag1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-size: cover; */
    border: none;

    width: 32px;
    height: 32px;
    cursor: pointer;
    
}

.copyright_twitter {
    background-image:url(./img/copyright_imag2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
}

.copyright_linkin {
    background-image:url(./img/copyright_imag3.svg);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    
}

.copyright_instagram{
    background-image:url(./img/copyright_imag4.svg);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
}

.copyright_settings{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    /* column-gap: 10px; */
    margin-bottom: 35px;
    
}

.settings_par{
    text-decoration: none;
    font-family: 'Varta', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.45);
}

.copyright_dog{
    font-family: 'Varta', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(112, 100, 88, 0.9)
}



.copyright_images {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

section.footer__copyright {
    margin-bottom: 48px;
}





div#tns1-ow {
    flex: 1 0 100%;
}

.inspirations__slide_count {
    display: none;
}

.menu_main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
}